html {
    height: 100%;
    width: 100%;
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #202443;
    padding: 15px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}



.content {
    margin-top: 60px; /* Para evitar que el contenido quede oculto debajo del nav */
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
  }
  
  footer p {
    margin: 0.5rem 0;
  }