/* Paleta de colores pastel */
:root {
    --color-primary: #FFD1DC; /* Rosa pastel */
    --color-secondary: #B2F2BB; /* Verde pastel */
    --color-accent: #A2D5F2; /* Azul pastel */
    --color-background: #F8F9FA; /* Gris claro pastel */
    --color-text: #495057; /* Gris oscuro */
  }
  
  /* Estilos generales */
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Arial', sans-serif;
  }
  
  /* NavBar */
  .navbar {
    background-color: var(--color-primary) !important;
  }
  
  /* Footer */
  .footer {
    background-color: var(--color-accent) !important;
    color: var(--color-text);
  }
  
  /* Botones */
  .btn-primary {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
  
  .btn-primary:hover {
    background-color: #8FC1E3; /* Azul pastel más oscuro */
    border-color: #8FC1E3;
  }
  
  /* Alertas */
  .alert-success {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-text);
  }